html,
body,
#mathBeast-container,
#introduction,
#region,
#outro {
  width: 100%;
  height: 100%;
}
body,
#mathBeast-container {
  display: inline-block;
}
/* General */
body {
  background-color: #f8f8f8;
}
/* Main */
main {
  background-color: #fff;
  min-height: 160px;
}
.question-number-wrapper {
  background-color: #e8e8e8;
}
.question {
  font-size: 36px;
  padding: 40px 0 20px;
  display: none;
}
.answers {
  padding: 20px 0 40px;
  display: none;
}
.timer {
  display: none;
  padding: 20px 0 40px;
}
.bar {
  background-color: black;
  height: 20px;
}
#outro {
  background: black;
}
#outro > .planet {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  transition: top 3s linear, height 3s linear, opacity .5s linear;
}
#outro.play > .planet {
  height: 0%;
  top: 50%;
}
#outro > .rocket {
  position: fixed;
  width: 1%;
  height: 1%;
  top: 50%;
  left: 50%;
  transition: width 3s linear, height 3s linear, top 3s linear, left 3s linear, transform 3s ease-in, opacity 0.5s linear;
  transform: rotate(0deg) skewX(40deg);
}
#outro.play > .rocket {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transform: rotate(360deg) skewX(0deg);
}
#outro > .explosion {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 53%;
  left: 50.5%;
  opacity: 0;
  transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear, opacity .5s linear;
}
#outro.explosion > .explosion {
  opacity: 1;
  width: 20%;
  height: 20%;
  top: 33%;
  left: 40.5%;
}
#outro.explosion.play > .explosion {
  opacity: 0;
}
#outro > .welcome {
  position: fixed;
  left: 10%;
  top: 100%;
  width: 80%;
  font-size: 3em;
  color: gold;
  transition: top 15s linear;
}
#outro.welcome > .welcome {
  top: -100%;
}
#outro.welcome > .planet,
#outro.welcome > .rocket,
#outro.welcome > .explosion {
  opacity: .6;
}
#region > img {
  width: 50%;
  height: 50%;
  display: inline-block;
  float: left;
}
#region > .desert {
  background: #f0f0b7;
  box-shadow: 0px 0px 5px 5px #f0f0b7;
  opacity: .1;
}
#region > .mountains {
  background: #b9dae5;
  box-shadow: 0px 0px 5px 5px #b9dae5;
  opacity: .1;
}
#region > .forest {
  background: #acedac;
  box-shadow: 0px 0px 5px 5px #acedac;
  opacity: .1;
}
#region > .china {
  background: #fdd6dd;
  box-shadow: 0px 0px 5px 5px #fdd6dd;
  opacity: .1;
}
#region > .check {
  display: none;
  position: fixed;
}
#region > .check:nth-of-type(5) {
  top: 0%;
  left: 0%;
}
#region > .check:nth-of-type(6) {
  top: 0%;
  left: 50%;
}
#region > .check:nth-of-type(7) {
  top: 50%;
  left: 0%;
}
#region > .check:nth-of-type(8) {
  top: 50%;
  left: 50%;
}
#region.none > img:nth-of-type(1),
#region.one > img:nth-of-type(2),
#region.two > img:nth-of-type(3),
#region.three > img:nth-of-type(4) {
  opacity: 1;
  cursor: pointer;
}
#region.one > .check:nth-of-type(5),
#region.two > .check:nth-of-type(5),
#region.two > .check:nth-of-type(6),
#region.three > .check:nth-of-type(5),
#region.three > .check:nth-of-type(6),
#region.three > .check:nth-of-type(7),
#region.four > .check:nth-of-type(5),
#region.four > .check:nth-of-type(6),
#region.four > .check:nth-of-type(7),
#region.four > .check:nth-of-type(8) {
  display: block;
}
#introduction {
  background: black;
}
#introduction > .planet {
  width: 100%;
  height: 0%;
  position: relative;
  top: 50%;
  transition: top 3s linear, height 3s linear, opacity .5s linear;
}
#introduction.play > .planet {
  height: 100%;
  top: 0%;
}
#introduction > .rocket {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition: width 3s linear, height 3s linear, top 3s linear, left 3s linear, transform 3s ease-in, opacity 0.5s linear;
  transform: rotate(0deg) skewX(0deg);
}
#introduction.play > .rocket {
  top: 50%;
  left: 50%;
  height: 1%;
  width: 1%;
  transform: rotate(360deg) skewX(40deg);
}
#introduction > .explosion {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 53%;
  left: 50.5%;
  opacity: 0;
  transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear, opacity .5s linear;
}
#introduction.explosion > .explosion {
  opacity: 1;
  width: 20%;
  height: 20%;
  top: 33%;
  left: 40.5%;
}
#introduction > .welcome {
  position: fixed;
  left: 10%;
  top: 100%;
  width: 80%;
  font-size: 3em;
  color: gold;
  transition: top 15s linear;
}
#introduction.welcome > .welcome {
  top: -100%;
}
#introduction.welcome > .planet,
#introduction.welcome > .rocket,
#introduction.welcome > .explosion {
  opacity: .6;
}
#introduction > .begin {
  opacity: 0;
  position: fixed;
  width: 80%;
  left: 10%;
  height: 80%;
  top: 10%;
  transition: opacity 1s linear;
}
#introduction > .begin > button {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  color: gold;
  font-size: 3em;
}
#introduction.begin > .begin {
  opacity: 1;
}
