// Screen
// ======

@import "normalize";
@import "grids";
@import "mixins";

.canvas {
  min-height: 300px;
  min-width: 300px;
  width: 100%;
  position:relative;
}

footer {
  margin-top: 10px;
}
.footer-region {
  text-align: right;
}

.settings-button-region {
  text-align: right;
}

.settings-button {
  @include button(#fff, #999);
  margin-top:1em;
}

.settings-region {
  text-align: center;
  background-color: #333;
  padding-top:1em;
  padding-bottom:1em;

  div {
    margin:1em 0;
  }
  input, select {
    font-size:1.5em;
    text-align: center;
    padding:.25em;
    min-width: 300px;
  }
  .ui-selectmenu-text {
    display: inline-block !important;
    font-size:1.5em;
    padding:0em !important;
    color:#999;
  }
  input {
    border-radius: 10px;
  }
}

.settings-save {
  @include button(#fff, #999);
}
