#outro {
  background: black;
}
#outro > .planet {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  transition: top 3s linear, height 3s linear, opacity .5s linear;
}
#outro.play > .planet {
  height: 0%;
  top: 50%;
}
#outro > .rocket {
  position: fixed;
  width: 1%;
  height: 1%;
  top: 50%;
  left: 50%;
  transition: width 3s linear, height 3s linear, top 3s linear, left 3s linear, transform 3s ease-in, opacity 0.5s linear;
  transform: rotate(0deg) skewX(40deg);
}
#outro.play > .rocket {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transform: rotate(360deg) skewX(0deg);
}
#outro > .explosion {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 53%;
  left: 50.5%;
  opacity: 0;
  transition: width .5s linear, height .5s linear, top .5s linear, left .5s linear, opacity .5s linear;
}
#outro.explosion > .explosion {
  opacity: 1;
  width: 20%;
  height: 20%;
  top: 33%;
  left: 40.5%;
}
#outro.explosion.play > .explosion {
  opacity: 0;
}
#outro > .welcome {
  position: fixed;
  left: 10%;
  top: 100%;
  width: 80%;
  font-size: 3em;
  color: gold;
  transition: top 15s linear;
}
#outro.welcome > .welcome {
  top: -100%;
}
#outro.welcome > .planet,
#outro.welcome > .rocket,
#outro.welcome > .explosion {
  opacity: .6;
}
