<header>
  <div class="container">
    <div class="row">
      <div class="header-left col-xs-6">
        <h1 class="game-name">MathBeast</h1>
      </div>

      <div class="header-right col-xs-6 text-right">
        <!--button class="settings-button btn btn-default">Settings</button-->
      </div>
    </div><!-- End .row -->
  </div><!-- End .container -->
</header>
<section class="setting">
</section>
<main>
<div id="mainContainer"></div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <section class="region footer-region">
        <p><small>Copyright &copy; MathBeast <time datetime="2015">2015</time></small></p>
      </section>
    </div><!-- End .row -->
  </div><!-- End .container -->
</footer>