<div id="introduction">
    <img class="planet" src="images/introduction/planet.svg" />
    <img class="rocket" src="images/introduction/rocket.svg" />
    <img class="explosion" src="images/introduction/explosion.svg" />
    <div class="welcome">
        <p>You have crash landed on the planet of Mathbeasts. . .
            <br>
            <br> A harsh land, of math. And beasts.
            <br>
            <br> If you wish to return home, you must journey these lands in search of your ship's parts.
        </p>
    </div>
    <div class="begin">
        <button>Begin?</button>
    </div>
</div>