<div id="introduction">
    <img class="planet" src="images/introduction/planet.svg" />
    <img class="rocket" src="images/introduction/rocket.svg" />
    <img class="explosion" src="images/introduction/explosion.svg" />
    <div class="welcome">
        <p>"It is a period of civil unrest on the planet where your ship has crashed. 
        <br>
        <br>To survive long enough to repair your ship,
        <br>you must have superior math skills.
        <br>
        <br>
        <br>
        <br>MathBeasts, striking from a hidden base,
        <br>want your ship for its superior technology.
        <br>
        <br>
        <br>
        <br>
        <br>During the battles, MathBeast spies managed to steal secret plans
        <br>to the Empire’s ultimate weapon, the Abacus, a primitive calculating devise. 

        <br>
        <br>Pursued by the MathBeasts' sinister agents, you must race to make calculations
        <br>faster than the MathBeasts to keep them at bay while your team hunt across four biomes for the parts need to repair your ship. . ."
        <br>
        <br> A harsh land, of math. And beasts.
        <br>
        <br> If you wish to return home, you must journey these lands in search of your ship's parts.

        </p>
    </div>
    <div class="begin">
        <button>Begin?</button>
    </div>
</div>
