<div id="introduction">
    <img class="planet" src="images/introduction/planet.svg" />
    <img class="rocket" src="images/introduction/rocket.svg" />
    <img class="explosion" src="images/introduction/explosion.svg" />
    <div class="welcome">
        <p>"Your ship's damaged when it crashes on a planet on the verge of a revolution. 
        <br>
        <br>MathBeasts and their sinister agents search for your ship's superior technology.
        <br>
        <br>
        <br>Do you have the superior math skills to repair your ship before it's stripped? 
        <br>
        <br>
        <br>You must race to make calculations faster than the MathBeasts empowered with The Abacus while your team traverses four biomes for the parts needed to repair your ship."
        <br> A Harsh Land, Of Math. And Beasts.

        </p>
    </div>
    <div class="begin">
        <button>Begin?</button>
    </div>
</div>
