<section class="status">
      <h2 class="results"></h2>
      <h3 class="message">Click on Start to begin playing.  To play the game select one of the three answers that best match.</h3>
    </section>
    <section class="question">
      <div class="row">
        <div class="col-xs-2 text-center question-number-wrapper">
          Q<span id="question--number"></span>
        </div>
        <div class="col-xs-4 text-center">
          <span id="question--operand-1"></span>
        </div>
        <div class="col-xs-2 text-center">
          <span id="question--operation"></span>
        </div>
        <div class="col-xs-4 text-center">
          <span id="question--operand-2"></span>
        </div>
      </div><!-- End .row -->
    </section>
    <section class="answers">
      <div class="row">
        <div class="col-xs-4 text-center">
          <button id="answers--option-1" class="answer-option btn btn-default btn-lg"></button>
        </div>
        <div class="col-xs-4 text-center">
          <button id="answers--option-2" class="answer-option btn btn-default btn-lg"></button>
        </div>
        <div class="col-xs-4 text-center">
          <button id="answers--option-3" class="answer-option btn btn-default btn-lg"></button>
        </div>
      </div><!-- End .row -->
    </section>
    <section class="timer">
      <p>Time Left:</p>
      <div id="timerContainer" class ="col-xs-10"></div>
    </section>