<div id="region">
    <img class="addition desert" src="images/region/region_desert.svg" />
    <img class="subtraction mountains" src="images/region/region_mountains.svg" />
    <img class="multiplication forest" src="images/region/region_forest.svg" />
    <img class="division china" src="images/region/region_china.svg" />
    <img class="check" src="images/region/check.svg" />
    <img class="check" src="images/region/check.svg" />
    <img class="check" src="images/region/check.svg" />
    <img class="check" src="images/region/check.svg" />
</div>