<div class="container">
    <div class="row">
      <div class="upper-limit-wrapper wrapper">
        <label>Upper limit:</label>
        <input id="upper-limit" value="12"/>
      </div>
      <form class="operation-wrapper wrapper">
        <div id="operation" >
          <input type="radio" value="+" id="addition" name="operation" checked="checked">
          <label for="addition">+</label>

          <input type="radio" value="-" id="subtraction" name="operation">
          <label for="subtraction">-</label>

          <input type="radio" value="*" id="multiplication" name="operation">
          <label for="multiplication">*</label>

          <input type="radio" value="/" id="division" name="operation">
          <label for="division">/</label>
        </div>
      </form>
      <div class="settings-save-wrapper wrapper">
        <button class="settings-save btn btn-default">Start</button>
      </div>
    </div><!-- End .row -->
  </div><!-- End .container -->